.h1{
text-align: center;
font-size: x-large;
}
.p1{
text-align: center;
font-size: medium;
}

.n1{
color: white;
}

.t1{
padding: 10px;
}

.f{
font-family: 'Roboto', sans-serif;
font-size: large;
}

.r{
font-size: 25px;
}

#Acerca-de-mi{
    color: white;
}

#Experiencia-laboral{
    color: white
}

#portafolio{
    color: white
}

#estudios{
    font-family: 'Roboto', sans-serif;
}