.h1{
text-align: center;
font-size: xx-large;
}
.p1{
text-align: center;
font-size: medium;
}

.n1{
color: white;
}

.t1{
padding: 10px;
}

.f{
font-family: 'Roboto', sans-serif;
}

.r{
font-size: 32px;
}

#Acerca-de-mi{
    color: white;
}